.img {
  background-image: url('/image10.webp');
}

.img3{
  background-image: url('/image11.webp');
}

.img4{
  background-image: url('/image7.webp');
}

.img5{
  background-image: url('/image9.webp');
}

.img6{
  background-image: url('/image8.webp');
}
