@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css o index.css */

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
  }
  
  .loader-div1,
  .loader-div2,
  .loader-div3 {
    position: absolute;
    top: 10px;
    width: 13px;
    height: 12px;
    border-radius: 50%;
    background: #c517f0;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .loader-div1 {
    left: 8px;
    animation: flip1 0.6s infinite;
  }
  
  .loader-div2 {
    left: 8px;
    animation: flip2 0.6s infinite;
  }
  
  .loader-div3 {
    left: 32px;
    animation: flip2 0.6s infinite;
  }
  
  .loader-div4 {
    left: 56px;
    animation: flip3 0.6s infinite;
  }
  
  @keyframes flip1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes flip3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes flip2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  }

  
/* Estilo de la barra de desplazamiento */
/* Webkit */
::-webkit-scrollbar {
  width: 8px;
  background-color: #d1d1d1;

}

::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #320b63;
}