.img {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  background-image: url('/image2.webp');
}

.img3{
  background-image: url('/image3.webp');
}

.img4{
  background-image: url('/image4.webp');
}

.img5{
  background-image: url('/image5.webp');
}

.img6{
  background-image: url('/image6.webp');
}
