.img {
  background-image: url('/image2.jpg');
}

.img3{
  background-image: url('/image3.jpg');
}

.img4{
  background-image: url('/image4.jpg');
}

.img5{
  background-image: url('/image5.jpg');
}

.img6{
  background-image: url('/image6.jpg');
}
